<div id="gadget_directories" style="margin:0.6em;" class="overthrow">
	<table>
		<tr id="directories_t"></tr>
	</table>
</div>

<script>
  function updateDirectories() {
	  var preUrl = document.referrer
	  if (preUrl) {
		  preUrl = new URL(preUrl).search.substring(6)
		  preUrl = decodeURIComponent(preUrl)
	  }	     
	makeJSONAjaxCall('@contextpath@@servletpath@/Directories', 'path=@:path@',
			true, function(json) {
				var dr = getElement('directories_t')
				var scrollCc
				for ( var i = 0; i < json.length; i++) {
					if (!json[i])
						break
					var cc = dr.insertCell(i); // js fields already encoded as required
					if (json[i].custom == 'true') {
						cc. style='vertical-align:bottom;'
					   cc.innerHTML = '<input type="text" placeholder="host" name="host"><span style="cursor:pointer" onclick="goon()">&rarr;</span>'
					} else {
						cc.style='white-space: pre-wrap'
						cc.innerHTML = '<a id="link1" href="Navigator?path='  //@:path@
							+ encodeURIComponent(json[i].path)
							+ '"><img border="0" src="@contextpath@/image/directory.png">'
							+ (json[i].name==''?json[i].path:json[i].name) + '</a>'
							//console.log('comp '+preUrl+' vs '+json[i].path)
					}
					if (preUrl && json[i].path == preUrl) {
						scrollCc = cc
					}
				}
				if (scrollCc)
					scrollCc.scrollIntoView(true)
			}, function(e) {
			})
  }
  function goon() {
  	 const hostt = document.querySelector('input[name="host"]').value
  	window.location.href = 'Navigator?path=smb::'+encodeURIComponent(hostt)
  }
</script>