<div id="gadget_playlists" style="width:900px;overflow: auto; ">
	<table>
		<tr id="playlists_t"></tr>
	</table>
</div>

<script>
  function updatePlaylists() {
	makeJSONAjaxCall('@contextpath@@servletpath@/Listsdirectory', '',
			true, function(json) {
				var dr = getElement('playlists_t');
				for ( var i = 0; i < json.length; i++) {
					if (!json[i])
						break;
					var cc = dr.insertCell(i); // js fields already encoded as required
					cc.innerHTML = '<a href="Playlist?list_name='  //@:path@
							+ encodeURIComponent(json[i].title_js)
							+ '"><img border="0" src="@contextpath@/image/playlist.png">'
							+ json[i].title + '</a>';
				}
			}, function(e) {
			});
  }
</script>