<div id="gadget_playlists" style="width:100%" class="overthrow">
	<table>
		<tr id="playlists_t"></tr>
	</table>
	<div id="crud_menu" style="display:none" class="popup_menu" onmouseover="cancelClose()" onmouseout="triggerClose()">
	     <ul style="list-style-type:none;padding:1em 0px 1em;margin:0px">
	        <li><input type="text" id="list_name" value=""><input type="hidden" id="list_id"></li>
	        <li style="cursor:pointer" onclick="renameList(getElement('list_id').value,getElement('list_name').value)">@label.rename@</li>
	        <li style="cursor:pointer" onclick="deleteList(getElement('list_id').value)">@label.delete@</li>
	     </ul>
	</div>
</div>

<script>
  function updatePlaylists() {
	makeJSONAjaxCall('@contextpath@@servletpath@/Listsdirectory', '',
			true, function(json) {
				var dr = getElement('playlists_t');
				for ( var i = 0; i < json.length; i++) {
					if (!json[i])
						break;
					var cc = dr.insertCell(i); // js fields already encoded as required
					cc.innerHTML = '<a id="link1" href="Playlist?list_name='  //@:path@
							+ encodeURIComponent(json[i].title_js)
							+ '"><img border="0" src="@contextpath@/image/playlist.png">'
							+ json[i].title + '</a>';
					cc.onmouseover = triggerPopup;
					cc.onmouseout = dearm;
					cc.setAttribute('data', json[i].title_js);
					cc.setAttribute('idx', json[i].list_id);
				}
			}, function(e) {
			});
  }
  
  var pu_tmr;
  function triggerPopup(e) {
	  if (!pu_tmr) {
		  if (! e)
				e = window.event;
		  if (!e)
			  return;
		  var popup = getElement('crud_menu');
		  popup.style.left =  getOffsetLeft(e.currentTarget) + 'px';
		  getElement('list_name').value= e.currentTarget.getAttribute('data');
		  getElement('list_id').value= e.currentTarget.getAttribute('idx');
		  pu_tmr = setTimeout(function() { displayPopup();}, 2000);
	  }
  }
  
  function displayPopup() {
	  pu_tmr = null;
	  var popup = getElement('crud_menu');	  
	  popup.style.display='block';
  }
  
  function dearm() {
	  if (pu_tmr) {
	  	clearTimeout(pu_tmr);
	  	pu_tmr = null;
	  } else
		  triggerClose();
  }
  
  function renameList(l, n) {
	  makeGenericAjaxCall('Playlist/ajax/renameList', 'playList='+l+'&list_name='+encodeURIComponent(n),
				true, function(res) {
		   if (res == 'Ok') {
			   var dr = getElement('playlists_t');
		       for(var i = dr.cells.length - 1; i >= 0; i--)
		           dr.deleteCell(i);
		       updatePlaylists();
		   }
		}, function(err) {

			}); 
	  getElement('crud_menu').style.display='none';
  }
  
  function triggerClose() {
	  pu_tmr = setTimeout(function() { pu_tmr=null; getElement('crud_menu').style.display='none';}, 2200);
  }
  
  function cancelClose() {
	  if (pu_tmr) {
		  	clearTimeout(pu_tmr);
		  	pu_tmr = null;
	  }
  }
</script>