<table border="0" style="position:fixed;top:1em;left:26px;z-index:999">
   <tr>
      <td> 
<!-- -->
<div style="border:1px solid black;width:312px;background-color:#EEE;background-color:#ddd;">
<table>
    <tr>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="pausePlay()"><img src="../image/pause_ctrl.png" title="@commonlabels.pause@" alt="@commonlabels.pause@" border="0"></a></td>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="resumePlay()"><img src="../image/play_ctrl.png" title="@commonlabels.resume@" alt="@commonlabels.resume@" border="0"></a></td>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="nextPlay()"><img src="../image/next_ctrl.png" title="@commonlabels.next@" alt="@commonlabels.next@" border="0"></a></td>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="stopPlay()"><img src="../image/stop_ctrl.png" title="@commonlabels.stop@" alt="@commonlabels.stop@" border="0"></a></td>
      <td style="width:120px;background-color:#ddd;background-image:url('../image/progress_bar.png');"><img id="progres_pusher" src="../image/dot.png" width="1" height="24" border="0">
         <img src="../image/progress_arrow.png" border="0"></td>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="toggleMode()"><img id="toggle_btn" src="../image/once_ctrl.png" title="@commonlabels.mode@" alt="@commonlabels.mode@" border="0"></a></td>
      </tr>
</table>
</div>
     </td>
           @path(<td> <span style="width:200px; overflow:hidden; white-space:nowrap;text-overflow:ellipsis;">@path.getFileName*()*@</span></td>)@
   </tr>
</table>
<script>
var curr_mod = 0;
var mod_img = ['../image/once_ctrl.png', '../image/cycle_ctrl.png', '../image/shuffle_ctrl.png'];
var curr_prog=0;
var step ;
var prog_tmr;
 function toggleMode() {
	 if (curr_mod < mod_img.length-1)
		 curr_mod++;
	 else
	      curr_mod = 0;
	 getElement('toggle_btn').src = mod_img[curr_mod];
 }
 function getPlayMode() {
	 return curr_mod;
 }
 function startProgress(l,p) {
	 getElement('progres_pusher').width = 1;
	 pauseProgress();
	 if (l > 0) {
	    step = (120-8)/l;
	    if (p)
	    	curr_prog = p*step;
	    else
	        curr_prog = 0;
	    resumeProgress();
	 }
	
 }
 function pauseProgress() {
	 if (prog_tmr)
		 clearInterval(prog_tmr);
	 prog_tmr = null;
 }
 function resumeProgress() {
	 if (!prog_tmr)
	 	prog_tmr = setInterval(function () { curr_prog +=step; if (curr_prog < (120-7)) getElement('progres_pusher').width = curr_prog; else pauseProgress(); }, 1000);
	 flashTit();
 }
 </script>