<div style="border:1px solid black;width:300px;background-color:#EEE">
<table>
    <tr>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="pausePlay()"><img src="../image/pause_ctrl.png" alt="@label.pause@" border="0"></a></td>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="resumePlay()"><img src="../image/play_ctrl.png" alt="@label.resume@" border="0"></a></td>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="nextPlay()"><img src="../image/next_ctrl.png" alt="@label.next@" border="0"></a></td>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="stopPlay()"><img src="../image/stop_ctrl.png" alt="@label.stop@" border="0"></a></td>
      <td style="margin-left:1em;width:120px"><img src="../image/progress_bar.png" width="120px" height="24" border="0"></td>
      </tr>
</table>
</div>

<script>
   var cp = -1;
   
	function play(p) {
		top.document.title='@label.playing@ ' + p;
		makeGenericAjaxCall('Player', 'playPath=' + encodeURIComponent(p),
				true, function(res) {

				}, function(err) {

				});
	}
	
	function playI(i) {
		var pi = pl[i];
		if (!pi) {
			cp = -1;
			return;
		}
		cp = i;
		top.document.title='@label.playing@ ' + pi.title;
		makeGenericAjaxCall('Player', 'playPath=' + encodeURIComponent(pi.path),
				true, function(res) {

				}, function(err) {

				});
	}

	function songFinished(m) {
		//alert('done');
		top.document.title='@label.title@ '+m;
		if (cp >= 0)
			playI(cp+1);
	}
	
	function addToPlay(p) {
		makeGenericAjaxCall('Player/ajax/addItem', 'playPath=' + encodeURIComponent(p),
				true, function(res) {

				}, function(err) {

				});
	}

	function playControl(c) {
		makeGenericAjaxCall('Player', 'cmd='+c, true, function(res) {

		}, function(err) {

		});
	}
	
	function pausePlay() { 
		playControl(2);
		MediaControls.isPlaying = false;
	}
	
	function resumePlay() {
		playControl(1);
		MediaControls.isPlaying = true;
	}
	
	function nextPlay() { 
		playControl(0);
	}
	
	function stopPlay() { 
		cp = -1;
		playControl(0);
	}
	
	function togglePlay() {
		if (MediaControls.isPlaying)
			pausePlay();
		else
			resumePlay();
	}
</script>