<div style="border:1px solid black;width:300px;background-color:#EEE">
<table>
    <tr>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="pausePlay()"><img src="../image/pause_ctrl.png" alt="@label.pause@" border="0"></a></td>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="resumePlay()"><img src="../image/play_ctrl.png" alt="@label.resume@" border="0"></a></td>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="nextPlay()"><img src="../image/next_ctrl.png" alt="@label.next@" border="0"></a></td>
      <td style="margin-left:1em"><a href="javascript:void(0)" onclick="stopPlay()"><img src="../image/stop_ctrl.png" alt="@label.stop@" border="0"></a></td>
      <td style="margin-left:1em;width:120px"><img src="../image/progress_bar.png" width="120px" height="24" border="0"></td>
      </tr>
</table>
</div>
