<div id="grid_holder">
   @grid(   
     <div style="height:100%;width:100%">
         @element(
             <div style="width:@w@;float:left; height:100%" title="@model.comment@" onclick="removePlay('@^model.path@')">@.model.content@ 
                 <span style="font-weight:bold;text-align:center;display:block">@model.title@</span></div>
         )@
     </div>
  )@
</div>

<script>
  function removePlay(p) {
	makeGenericAjaxCall('Player/ajax/removePlay', 'playPath='+encodeURIComponent(p),
			true, function(res) {
	   if (res == 'Ok') {
		   window.location.reload();
	   }
	   });
}


</script>