<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Specify a JDBC datasource -->
    <Resource name="jdbc/h2/music-barrel" 
              auth="Container"
              type="javax.sql.DataSource" 
              username="sa" 
              password=""
              driverClassName="org.h2.Driver"
              driverClassPath="Application"
              url="jdbc:h2:~/music-barrel"
              validationQuery="select 1"
              maxActive="3" 
              maxIdle="2"/>

    <!-- Specify the security realm and location of the users file
    <Realm className="rogatkin.tjws.app.realm.MemoryRealm" 
           pathname="/WEB-INF/users.xml" />
    -->
</Context>
