@%'insert/playctrl.html'@
<div id="grid_holder">
   @grid(   
	   <!-- think to change to:
	   .box {
        display: flex;
        flex-flow: row wrap;
      } -->
     <div style="height:100%;width:100%">
         @element(
             <div style="width:@w@;float:left; height:100%;cursor:crosshair" title="@model.comment@" onclick="removePlay('@^model.path@')">@.model.content@ 
                 <span style="font-weight:bold;text-align:center;display:block">@model.title@</span></div>
         )@
     </div>
  )@
</div>
<script src="@contextpath@/js/ui.js"></script>
<script>
    function initFields() {
    	handlerUrl = 'Navigator/ajax/Asyncupdate';
		// run it async
		window.onunload = releaseUI
		updateUI()
		startProgress(@song_len@, @play_position@)
    }
    
    function songFinished(m) {
    	window.location.reload() // think to reload just the grid content
    }
    
    function pausePlay() {
    	playControl(2, pauseProgress)
    	//pauseProgress()
    	flashTit('@commonlabels.paused@')
    }
    function resumePlay() {
    	playControl(1, resumeProgress)
    }
    function nextPlay() { 
		playControl(0,songFinished)
	}
	
	function stopPlay() { 
		playControl(4, function() {window.location.reload()})
		
	}
	
	function removePlay(p) {
		makeGenericAjaxCall('Player/ajax/removePlay', 'playPath='+encodeURIComponent(p),
				true, function(res) {
		   if (res == 'Ok') {
			   songFinished()
			   //window.location.reload();
		   }
		   })
	}
</script>