<p>@error@</p>
@%'insert/playctrl.html'@
<table>
  <tr>
    <th>@label.track@</th>
    <th>@label.song@</th>
    <th>@label.artist@</th>
    <th>@label.album@</th>
    <th>@label.year@</th>
    <th>@label.genre@</th>
    <th>@label.length@</th>
    <th>@label.samplerate@</th>
     <th>&nbsp;</th>
 </tr>
 @model(
    <tr>
       <td>@element.getAttribute*(Track)*@</td>
       <td>@element.getAttribute*(Title)*@</td>
       <td>@element.getAttribute*(Artist)*@</td>
       <td>@element.getAttribute*(Album)*@</td>
       <td>@element.getAttribute*(Year)*@</td>
       <td>@element.getAttribute*(Genre)*@</td>
       <td>@element.getAttribute*(Length)*@</td>
       <td>@element.getAttribute*(Samplerate)*@</td>
       <td><div><a href="javascript:void(0)" onclick="play('@^element.getAttribute*(MediaPath)*@')">
       <img src="../image/play_btn.png" alt="@label.play@"></a>&nbsp;
       <a href="javascript:void(0)" onclick="addToPlay('@^element.getAttribute*(MediaPath)*@')">
       <img src="../image/add_playlist_btn.png" alt="@label.add_play@"></a>
       </div></td>
 )@
</table>
<div id="player">
</div>
<script>
   
   function initFields() {
	   var MediaControls = Windows.Media.MediaControl;

	// Add event listeners for the buttons
	MediaControls.addEventListener('playpressed', resumePlay, false);
	MediaControls.addEventListener('pausepressed', pausePlay, false);
	MediaControls.addEventListener('playpausetogglepressed', togglePlay, false);
	
   }
   
</script>