@%'insert/playctrl.html'@
@%'insert/listsdirectory.html'@
<table id="list_table" style="width:80%;margin:auto"  class="bg_theme">
  <tr class="bg_hd_theme"><th class="play_btn">&nbsp;<th>@label.somg_title@</th><th>@label.performer@</th>
  <th>@label.genre@</th><th>@label.year@</th><th>&nbsp;</th>
  </tr>
  @model(
   <tr id="TR_@element.get*(ID)*@">
      <td style="width:50px" onmouseover="this.className='play_btn'" onmouseout="this.className=''" onclick="playItem(@element.get*(ID)*@, @element.get*(LIST_ID)*@)" title="@commonlabels.play@">&nbsp;</td>
      <td>@element.get*(TITLE)*@</td>
      <td>@element.get*(PERFORMER)*@</td>
      <td>@element.get*(GENRE)*@</td>
      <td>@element.get*(YEAR)*@</td>
      <td style="cursor:pointer" onclick="deleteItem(@element.get*(ID)*@, @element.get*(LIST_ID)*@)">x</td>
      </tr>
  )@
</table>

<script>
   var currList='@model[0](@element.get*(LIST_ID)*@)@';
   var playState = new Object();
   
   function initFields() {
	   updatePlaylists();
	   startProgress(@song_len@, @play_position@);
	   playState.stopped = true;
   }
   
   function deleteItem(i, l) {
	   makeGenericAjaxCall('Playlist/ajax/deleteItem', 'playItem=' + i + '&playList='+l,
				true, function(res) {
		   if (res == 'Ok') {
		       var tbl = getElement('list_table');
		       var tdk = getElement('TR_'+i);
		       for(var k=0; k<tbl.rows.length; k++) {
                  if (tdk == tbl.rows[k]) {
            	     tbl.deleteRow(k) ;
            	     break;
                  }
		       }		
		   }
		}, function(err) {

			});
   }
   
   function deleteList(l) {
	   makeGenericAjaxCall('Playlist/ajax/deleteList', 'playList='+l,
				true, function(res) {
		   if (res == 'Ok') {
			   if (currList != l)
				   return;
		       var tbl = getElement('list_table');
		       for(var i = tbl.rows.length - 1; i > 0; i--)
		           tbl.deleteRow(i);
		       var dr = getElement('playlists_t');
		       for(var i = dr.cells.length - 1; i >= 0; i--)
		           dr.deleteCell(i);
		       currList = 0;
		       updatePlaylists();
		   }
		}, function(err) {

			}); 
	   getElement('crud_menu').style.display='none';
   }
   
   function playItem(i, l) {
	   playState.stopped = false;
	   makeGenericAjaxCall('Player', 'playItem=' + i + '&playList='+l+'&playMode='+getPlayMode(),
		     true, function(res) {
		    	var tdk = getElement('TR_'+i);
		    	updateTitPlay();
			}, function(err) {

				});	
   }
   
   function pausePlay() { 
		playControl(2);
		flashTit('@commonlabels.paused@');
	}
	
	function resumePlay() {		
		if (playState.stopped) {
			playItem(0, '@model[0](@element.get*(LIST_ID)*@)@');
	     } else
			playControl(1);
        
        updateTitPlay();
	}
	
	function updateTitPlay() {
		flashTit();
		top.document.title = '@commonlabels.playing@ - @list_name@ - @app_name@';		
	}
	
	
	function nextPlay() { 
		startProgress(0);
		playControl(0);
	}
	
	function stopPlay() { 
		startProgress(0);
		playControl(4);
		playState.stopped = true;
		top.document.title = '@commonlabels.sym_stop@ - @list_name@ - @app_name@';
	}
</script>