@%'insert/playctrl.html'@
@%'insert/listsdirectory.html'@
<table id="list_table" style="width:80%;margin:auto"  class="bg_theme">
  <tr class="bg_hd_theme"><th>&nbsp;<th>@label.title@</th><th>@label.performer@</th>
  <th>@label.genre@</th><th>@label.year@</th><th>&nbsp;</th>
  </tr>
  @model(
   <tr id="TR_@element.get*(ID)*@">
      <td style="width:50px" onmouseover="this.className='play_btn'" onmouseout="this.className=''" onclick="playItem(@element.get*(ID)*@, @element.get*(LIST_ID)*@)">&nbsp;</td>
      <td>@element.get*(TITLE)*@</td>
      <td>@element.get*(PERFORMER)*@</td>
      <td>@element.get*(GENRE)*@</td>
      <td>@element.get*(YEAR)*@</td>
      <td style="cursor:pointer" onclick="deleteItem(@element.get*(ID)*@, @element.get*(LIST_ID)*@)">x</td>
      </tr>
  )@
</table>
<div><a href="javascript:void(0)" onclick="deleteList(@model[0](@element.get*(LIST_ID)*@)@)">@label.delete_all@</a></div>
<script>
   var playState = new Object();
   
   function initFields() {
	   updatePlaylists();
	   playState.stopped = true;
   }
   
   function deleteItem(i, l) {
	   makeGenericAjaxCall('Playlist/ajax/deleteItem', 'playItem=' + i + '&playList='+l,
				true, function(res) {
		   if (res == 'Ok') {
		       var tbl = getElement('list_table');
		       var tdk = getElement('TR_'+i);
		       for(var k=0; k<tbl.rows.length; k++) {
                  if (tdk == tbl.rows[k]) {
            	     tbl.deleteRow(k) ;
            	     break;
                  }
		       }		
		   }
		}, function(err) {

			});
   }
   
   function deleteList(l) {
	   makeGenericAjaxCall('Playlist/ajax/deleteList', 'playList='+l,
				true, function(res) {
		   if (res == 'Ok') {
		       var tbl = getElement('list_table');
		       for(var i = tbl.rows.length - 1; i > 0; i--)
		           tbl.deleteRow(i);
		       var dr = getElement('playlists_t');
		       for(var i = dr.cells.length - 1; i >= 0; i--)
		           dr.deleteCell(i);
		       updatePlaylists();
		   }
		}, function(err) {

			}); 
   }
   
   function playItem(i, l) {
	   playState.stopped = false;
	   makeGenericAjaxCall('Player', 'playItem=' + i + '&playList='+l+'&playMode='+getPlayMode(),
		     true, function(res) {
		    	var tdk = getElement('TR_'+i);
			}, function(err) {

				});	
   }
   
   function pausePlay() { 
		top.document.title = '@label.paused@';
		playControl(2);
	}
	
	function resumePlay() {
		top.document.title = '@label.playing@';
		if (playState.stopped)
			playItem(0, '@model[0](@element.get*(LIST_ID)*@)@');
		else
			playControl(1);
	}
	
	function nextPlay() { 
		playControl(0);
	}
	
	function stopPlay() { 
		playControl(4);
		playState.stopped = true;
		top.document.title = '@label.stopped@';
	}
</script>