<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>@title@</title>
  <style type="text/css">
     #error {background-color:#fdd;}
     .play_progress {background-image:url('@contextpath@/image/playing.gif');background-repeat:no-repeat}
     .play_btn {background-image:url('@contextpath@/image/play_btn.png');background-repeat:no-repeat;cursor:pointer}
     .bg_theme {background-color:#E0FFDD}
     .bg_hd_theme {background-color:#262;color:#eee}
  </style>
  <script src="@contextpath@/js/ajaxhelper.js" language="Javascript"></script>
  <script src="@contextpath@/js/common.js" language="Javascript"></script>
  <script src="@contextpath@/js/form.js" language="Javascript"></script>
  <script src="@contextpath@/js/ctrl.js" language="Javascript"></script>
  <script>
      function goto(loc) {
         document.location='@contextpath@@request.getServletPath*()*@/'+loc;
      }
  </script>
  <script>
     @%'insert/headjs.htmt'@
  </script>
  @%headextra@
  
</head>
<body onload="init()">
 <div style="line-height:42px">&nbsp;</div>
 @%request.INNER_VIEW@
 <div style="width:50%;margin-left:auto;position:fixed;bottom:0px;right:0px;z-index:99">
     <table style="margin-left:auto">
       <tr><td id="error">@error@</td>
           <td><a href="@contextpath@"><img src="@contextpath@/image/home.png" border="0" title="@commonlabels.home@" alt="@commonlabels.home@"/></a></td></tr>
     </table>
   </div>
</body>
</html>