<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>@title@</title>
  <style type="text/css">
     #error {}
     .play_progress {background-image:url('@contextpath@/image/playing.gif');background-repeat:no-repeat}
  </style>
  <script src="@contextpath@/js/ajaxhelper.js" language="Javascript"></script>
  <script src="@contextpath@/js/common.js" language="Javascript"></script>
  <script src="@contextpath@/js/form.js" language="Javascript"></script>
  <script src="@contextpath@/js/ctrl.js" language="Javascript"></script>
  <script>
      function goto(loc) {
         document.location='@contextpath@@request.getServletPath*()*@/'+loc;
      }
  </script>
  <script>
     @%'insert/headjs.htmt'@
  </script>
  @%headextra@
  
</head>
<body onload="init()">
<div style="width:82%;margin:auto">
<a style="float:right" href="@contextpath@"><img src="@contextpath@/image/home.png" border="0" alt="@commonlabels.home@"></img></a>
</div>
@%request.INNER_VIEW@
</body>
</html>