<form name="wrench" method="POST">
  <div>@label.output_type@<br/>@.ui.select*(output_type,java.lang.Object^@model@)*@</div>
  <div>@label.auto_scan@<br/>@.ui.check*(perform_scan,java.lang.Object^@model@)*@</div>
<div><input type="submit" name="submit" value="@commonlabels.submit@"></div>
</form>
<div>
  <input type="button" name="init_schema" value="@label.init_schema@" onclick="initSchema()">
  <input type="checkbox" name="discardExisting" value="true">@label.drop_schema@
</div>

<script>
   function initSchema() {
	   makeGenericAjaxCall('Dbsetup', 'submit=yes&drop_schema=',
				true, function(res) {
		   alert('done');

				}, function(err) {

				});
   }
</script>